<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login page</title>
    <style>
      * {
        margin: 0;
        padding: 0;
        font-family: arial;
      }

      nav {
        background: pink;
        padding: 20px;
      }

      nav ul {
        max-width: 960px;
        margin: 0 auto;
        padding: 0;
      }

      nav li {
        display: inline-block;
        list-style-type: none;
        margin-right: 10px;
      }

      nav a {
        text-decoration: none;
        color: #fff;
        font-size: 18px;
        display: block;
        background: rgba(255, 255, 255, 0.2);
        padding: 10px;
      }

      main,
      header {
        max-width: 960px;
        margin: 30px auto;
        padding: 0 10px;
        color: #333;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/">Homepage</a></li>
      </ul>
    </nav>
    <header>
      <h1>Login with:</h1>
    </header>
    <main>
      <a class="google-btn" href="/auth/google">Google</a>
    </main>
  </body>
</html>
